@page
@model PRN221_Project.Pages.Admin.ReceivieProducts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReceiveProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReceiveProduct.ReceiveProductId" />
            <div class="form-group">
                <label asp-for="ReceiveProduct.ProductId" class="control-label"></label>
                <select asp-for="ReceiveProduct.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ReceiveProduct.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.Quantity" class="control-label"></label>
                <input asp-for="ReceiveProduct.Quantity" class="form-control" />
                <span asp-validation-for="ReceiveProduct.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.UnitPrice" class="control-label"></label>
                <input asp-for="ReceiveProduct.UnitPrice" class="form-control" />
                <span asp-validation-for="ReceiveProduct.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.SubTotal" class="control-label"></label>
                <input asp-for="ReceiveProduct.SubTotal" class="form-control" />
                <span asp-validation-for="ReceiveProduct.SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.SupplierId" class="control-label"></label>
                <select asp-for="ReceiveProduct.SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                <span asp-validation-for="ReceiveProduct.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.ReceivedDate" class="control-label"></label>
                <input asp-for="ReceiveProduct.ReceivedDate" class="form-control" />
                <span asp-validation-for="ReceiveProduct.ReceivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveProduct.AccountId" class="control-label"></label>
                <select asp-for="ReceiveProduct.AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="ReceiveProduct.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
