@page
@model PRN221_Project.Pages.Admin.Categories.IndexModel

@{
    ViewData["Title"] = "Category";
}
<link rel="stylesheet" href="~/css/rootcss.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

<h1>Category</h1>
<input class=" form-control-sm border border-primary rounded-pill" type="text" id="searchTerm" placeholder="Search..." />

<p>
    <a asp-page="Create" class="btn btn-primary mt-2">Create New</a>
</p>
<a href="/admin">Back to overview</a>
<table class="table" id="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
            
            </td>
        </tr>
}
    </tbody>
</table>


